@page
@model Mission9_Water.Pages.OrderCompletedModel
@{
}
<div class="text-center">
    <h2>Thanks! Your order will be on it's way shortly!</h2>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>